<div class="jumbotron">
  <%= video_tag "man-on-a-bike.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
    <h1 class="main-page-header">Welcome to Bike Berlin</h1>
    <h2 class="main-page-subheader">Your source for used bikes in Berlin</h2>
</div>
