<div class="jumbotron">
  <%= video_tag "man-on-a-bike.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
  <div class="jumbotron-text">
    <h1 class="main-page-header">Welcome to Bike Berlin</h1>
    <h2 class="main-page-header">Your source for used bikes in Berlin</h2>
  </div>
</div>



<!-- <h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<%#= image_tag("beach_bike.jpg", class: "img-responsive") %> -->
