.navbar {
  background-color: #000;
  max-height: 40px;
}
.navbar-nav {
  display: inline-block;
}
.dropdown-toggle {
  display: inline-block;
}
.navbar-toggler {
  max-height: 30px;
}
.navbar-toggler-icon {
  max-height: 1.0em;
}

footer {
  background-color: #000;
}
