// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product form styles
#h1-products {
  color: #39FF14;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 25px;
  z-index: 10;
}

.img-fluid {
  height: 275px;
}
.img-show {
  width: 100%;
  // height: 565px;
}
.product-right-column {
  color: #000;
  width: 100%;
  height: auto;
  // top: -100px;
}
.product-show-row1 {
  width: 100%;
  height: 75%;
}
.product-show-row2 {
  width: 100%;
  height: 25%;
}
