// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h1-h6 styles
h1 {
  color: #39FF14;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 25px;
}
