<div class="row">
  <div class="col-md-6 left-column">
    <h1>Editing Product</h1>
  </div><!-- /.col-md-6 left-column -->
  <div class="col-md-6 right-column">
    <%= render 'form', product: @product %>
    <div class="page-links">
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </div><!-- /.page-links -->
  </div><!-- /.col-md-6 right-column -->
</div><!-- /.row -->
